<!DOCTYPE html>
<html ng-app="tictactoe">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body class="container" ng-controller="tictactoeCtrl">
  <div class="row">

    <div class="page-header text-center">
      <h1>Tic Tac Toe <small>(have fun!)</small></h1>
    </div>

    <div class="col-xs-12 col-lg-7 col-lg-offset-2 ">
      <table class="table table-bordered">
        <tbody>
          <tr ng-repeat="row in board.values">
            <td class="col-xs-4 text-center"
                ng-repeat="cell in row" 
                ng-click="click(cell)">
                <i ng-class="cell.Icon" class="fa-5x"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 score">
      <score players="Players" action="newGame()" winner="board.winner"></score>   
    </div>
  </div>  
  
  <script src="components/jquery/dist/jquery.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/lodash/lodash.js"></script>
  <script src="components/nools/nools.js"></script>
  <script src="app.js"></script>
  <script src="controllers/tictactoeCtrl.js"></script>
  <script src="models/entities.js"></script>
  <script src="services/common.js"></script>
  <script src="services/tictactoe.js"></script>
  <script src="directives/score.js"></script>
</body>
</html>